doctype html
html
  head
    title= 'Three-in-a-row'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/phaser-arcade-physics.min.js')
    script(src='/js/match3.js')
    script(src='/js/game.js')
    script(src='/js/index.js')
  body
    block content
